@import url(reset.css);
@import url(main.css);

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.calendar {
	--selected-color: #589C5F;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	/* grid-template-rows: repeat(5, 70px); */
	row-gap: 50px;
	text-align: center;
	align-items: center;
}

.calendar-header {
	font-size: 1.7rem;
	font-weight: 600;
}

.calendar > li {
	/* border: 1px solid red; */
	position: relative;
    display: flex;
    justify-content: center;
	cursor: pointer;	
}

.calendar > li:not(.calendar-header):hover:before {
	content: '';
    background-color: #ff730082;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 30px;
    top: -5px;
}
#calendarNav{
	display: flex;
	padding: var(--space) 0;
	align-items: center;

}

h3 {
	flex: auto;
}

/* 
#calendarNav > span {
	padding: 10px;
}

.selected > span {
	background-color: var(--selected-color);
	padding: 8px;
	border-radius: 100%;
	display: inline-block;
} */
.anotherselected {
	position: relative;
}
.anotherselected:before {
    content: '';
    background-color: var(--selected-color);
    border-radius: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 30px;
    left: 50%;
    top: -5px;
	transform: translateX(-50%);
}
/* 
.moreselected {
	position: relative;
    display: flex;
    justify-content: center;	
} */
.moreselected:before {
	content: '';
    background-color: var(--selected-color);
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    width: 30px;
    height: 30px;
    top: -5px;
}


/* for counter page, use li counter instead  */

.calendar.counter {
	counter-reset:  day;  
}
.calendar.counter li:after {
	counter-increment: day;
	content: counter(day);
}
