@import url(reset.css);
@import url(main.css);

legend {
	margin-bottom: var(--space);
	font-size: 1.8rem;
	font-weight: 600;
}

.label-title {
	display: block;
	margin-bottom: var(--halfspace);

}

/* this is a global style */
.w-100 {
	width: 100%;
}

.small {
	font-size: 1.3rem;
}


.input-field {
	background-color: #34393C;
	/* margin-bottom: var(--halfspace); */
	border: 0;
	padding: var(--halfspace);
	color: #ffffff;
}

.input-field:focus {
	outline: none;
	box-shadow: 0 0 0 1px #727272;
}

.input-field::placeholder {
	font-style: italic;
}

.description-field {
	height: 130px;
}

.amount-field {

	width: 200px;
}

.amount-field::-webkit-inner-spin-button {
	transform: rotate(90deg);
	padding: 20px;
	margin-right: -15px;
}

input::-webkit-calendar-picker-indicator {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGhlaWdodD0nMThweCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMThweCcgZmlsbD0nI0ZGRkZGRic+PHBhdGggZD0nTTAgMGgyNHYyNEgwVjB6JyBmaWxsPSdub25lJy8+PHBhdGggZD0nTTE5IDNoLTFWMWgtMnYySDhWMUg2djJINWMtMS4xMSAwLTIgLjktMiAydjE0YzAgMS4xLjg5IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjVjMC0xLjEtLjktMi0yLTJ6bTAgMTZINVY5aDE0djEwem0wLTEySDVWNWgxNHYyek03IDExaDV2NUg3eicvPjwvc3ZnPg==");
}

/* or this: */
/* input::-webkit-calendar-picker-indicator {
	background-image: url(../images/today_white_18dp.svg);
} */

textarea {
	overflow-x: hidde;
	resize: none;	
}
textarea::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	background-color: #aaa;
}

textarea::-webkit-scrollbar-thumb {
	background: #000;
}
label {
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: var(--halfspace);
	vertical-align: middle;

	transition: width 0.2s ease-in-out,
		height 0.2s ease-in-out;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked  {
	width: 22px;
	height: 22px;	
}


button {
	border: 0;
	cursor: pointer;
}

.btn {
	padding: var(--halfspace) var(--space);
	background-color: #e9e9e9;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 90%;
	color: #000000;
	display: inline-block;
}
.btn-normal {
	/* apply boxshadow inset */
	box-shadow: inset 0px -23px 0px -3px #81818152;
	transition: box-shadow 0.3s;
}
.btn-primary {
	background-color: var(--link-alt-color);
	color: #ffffff;
	/* or background gradient, you cannot apply transition */
	background-image: linear-gradient(#0303031a 50%, #0000005e 50%);
}
.btn-plane {
	background: transparent;
	color: #ffffff;
}

.btn-primary:hover {
	background-image: linear-gradient(#03030312 50%, #00000033 50%);
}
.btn-normal:hover {
	box-shadow: inset 0px -23px 0px -3px #c2c2c252;
	color: #000000;
}
.btn-plane:hover {
	color: var(--link-hover-color);
}

.btn:active {
	transform: translateY(2px);
}
