@import url(reset.css);
@import url(main.css);
/* index.html specific styles */

/* todo improt statement */

.img-wrapper {
	overflow: hidden;

}

.img-wrapper img {
	width: 170%;
    max-height: 300px;
    object-fit: cover;
    object-position: bottom;
	margin-left: -70%;
}



.mytable th {
	text-align: left;
	font-weight: normal;
	border-bottom: 2px solid #ffffff;
}
.mytable td {
	border-bottom: 1px solid #ffffff9e;
	
}

.mytable tbody tr:nth-child(odd) {
	background-color: hsl(var(--theme-hue), var(--theme-saturation), 14%);
}

.mytable th, 
.mytable td {
	padding: 5px;

}

.myvideo {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover; 
	/* knowing that 16/8 is the exact ratio */
}

.mytable tfoot {
	font-size: 1.1rem;
	color: #ffffff9e;
}