* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
}

ul,
li {
    list-style: none;
}

fieldset,
form,
iframe {
    border: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

img {
    border: 0 none;
}

form {
    display: inline;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

input,
button,
select,
optgroup,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
